src/main/resources/ehealthbox_consultation_v1.wsdl

<s2:definitions targetNamespace="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1" xmlns:s0="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:s1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s2="http://schemas.xmlsoap.org/wsdl/" xmlns:s3="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1" xmlns:s4="urn:be:fgov:ehealth:errors:soa:v1" xmlns:s5="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v1" xmlns:s6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   
   <s2:types>
      <xsd:schema xmlns:ehboxp="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1" xmlns:err="urn:be:fgov:ehealth:errors:soa:v1" xmlns:mon="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v1" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1" xmlns:s2="urn:be:fgov:ehealth:errors:soa:v1" xmlns:s3="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v1" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1" schemaLocation="../XSD/ehbox_v1/ehealth-ehBox-consultation-schema-protocol-1_0.xsd"/>
         <xsd:import namespace="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v1" schemaLocation="../XSD/ehbox_v1/ehealth-ehBox-monitoring-schema-protocol-1_0.xsd"/>
         <xsd:import namespace="urn:be:fgov:ehealth:errors:soa:v1" schemaLocation="../XSD/common/ehealth-errors-schema-soa-1_0.xsd"/>
      </xsd:schema>
   </s2:types>
   <s2:message name="GetBoxInfoRequestMessage">
      <s2:part element="s3:GetBoxInfoRequest" name="body"/>
   </s2:message>
   <s2:message name="GetBoxInfoResponseMessage">
      <s2:part element="s3:GetBoxInfoResponse" name="body"/>
   </s2:message>
   <s2:message name="GetMessagesListRequestMessage">
      <s2:part element="s3:GetMessagesListRequest" name="body"/>
   </s2:message>
   <s2:message name="GetMessagesListResponseMessage">
      <s2:part element="s3:GetMessagesListResponse" name="body"/>
   </s2:message>
   <s2:message name="GetFullMessageRequestMessage">
      <s2:part element="s3:GetFullMessageRequest" name="body"/>
   </s2:message>
   <s2:message name="GetFullMessageResponseMessage">
      <s2:part element="s3:GetFullMessageResponse" name="body"/>
   </s2:message>
   <s2:message name="MoveToInboxRequestMessage">
      <s2:part element="s3:MoveToInboxRequest" name="body"/>
   </s2:message>
   <s2:message name="MoveToInboxResponseMessage">
      <s2:part element="s3:MoveToInboxResponse" name="body"/>
   </s2:message>
   <s2:message name="GetMessageHistoryRequestMessage">
      <s2:part element="s3:GetHistoryRequest" name="body"/>
   </s2:message>
   <s2:message name="GetMessageHistoryResponseMessage">
      <s2:part element="s3:GetHistoryResponse" name="body"/>
   </s2:message>
   <s2:message name="SystemError">
      <s2:part element="s4:SystemError" name="fault"/>
   </s2:message>
   <s2:message name="PingRequest">
      <s2:part element="s5:PingRequest" name="body"/>
   </s2:message>
   <s2:message name="PingResponse">
      <s2:part element="s5:PingResponse" name="body"/>
   </s2:message>
   <s2:portType name="ehBoxConsultationPortType">
      <s2:operation name="getBoxInfo">
         <s2:input message="s3:GetBoxInfoRequestMessage"/>
         <s2:output message="s3:GetBoxInfoResponseMessage"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
      <s2:operation name="getMessagesList">
         <s2:input message="s3:GetMessagesListRequestMessage"/>
         <s2:output message="s3:GetMessagesListResponseMessage"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
      <s2:operation name="getFullMessage">
         <s2:input message="s3:GetFullMessageRequestMessage"/>
         <s2:output message="s3:GetFullMessageResponseMessage"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
      <s2:operation name="moveToInbox">
         <s2:input message="s3:MoveToInboxRequestMessage"/>
         <s2:output message="s3:MoveToInboxResponseMessage"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
      <s2:operation name="getMessageHistory">
         <s2:input message="s3:GetMessageHistoryRequestMessage"/>
         <s2:output message="s3:GetMessageHistoryResponseMessage"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
      <s2:operation name="ping">
         <s2:input message="s3:PingRequest"/>
         <s2:output message="s3:PingResponse"/>
         <s2:fault message="s3:SystemError" name="SystemError"/>
      </s2:operation>
   </s2:portType>
   <s2:binding name="ehBoxConsultationBinding" type="s3:ehBoxConsultationPortType">
      <s6:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:Policy>
         <wsp:PolicyReference URI="#Mtom.xml"/>
      </wsp:Policy>
      <s2:operation name="getBoxInfo">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:getBoxInfo"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#samlPolicy-holder-of-key-signed-Smals"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
      <s2:operation name="getMessagesList">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:getMessagesList"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#samlPolicy-holder-of-key-signed-Smals"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
      <s2:operation name="getFullMessage">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:getFullMessage"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#samlPolicy-holder-of-key-signed-Smals"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
      <s2:operation name="moveToInbox">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:moveToInbox"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#samlPolicy-holder-of-key-signed-Smals"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
      <s2:operation name="getMessageHistory">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:getMessageHistory"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#samlPolicy-holder-of-key-signed-Smals"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
      <s2:operation name="ping">
         <s6:operation soapAction="urn:be:fgov:ehealth:ehbox:consultation:protocol:v1:Ping" style="document"/>
         <s2:input>
            <s6:body use="literal"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="#X509IdentifyAndSignMessage"/>
            </wsp:Policy>
         </s2:input>
         <s2:output>
            <s6:body use="literal"/>
         </s2:output>
         <s2:fault name="SystemError">
            <s6:fault name="SystemError" use="literal"/>
         </s2:fault>
      </s2:operation>
   </s2:binding>
   <s2:service name="ehBoxConsultationService">
      <s2:port binding="s3:ehBoxConsultationBinding" name="ehBoxConsultationPort">
         <s6:address location="https://services-acpt.ehealth.fgov.be:443/ehBoxConsultation/v1"/>
      </s2:port>
   </s2:service>
</s2:definitions>